<template>
  <div class="file">
    <span v-if="isImage && !isVoiceNote">
      <a
        :href="$store.state.backend_url + '/cdn/' + file.id + '/' + file.name"
        target="_blank"
        style="display: flex; text-decoration: none"
      >
        <div class="img-box">
          <span
            >{{ file.name }}
            <span style="font-weight: normal"
              >(Click to view larger)</span
            ></span
          >
          <img
            height="250"
            :src="
              $store.state.backend_url + '/cdn/' + file.id + '/' + file.name
            "
            class="upload-img"
          />
        </div>
      </a>
    </span>
    <div v-if="!isImage && !isVoiceNote">
      <a
        :href="$store.state.backend_url + '/cdn/' + file.id + '/' + file.name"
        target="_blank"
        style="display: flex; text-decoration: none"
      >
        <div class="file-box">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24"
            viewBox="0 0 24 24"
            width="24"
          >
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z" />
          </svg>
          {{ file.name }}
        </div>
      </a>
    </div>
    <div v-if="isVoiceNote">
      <a
        :href="$store.state.backend_url + '/cdn/' + file.id + '/' + file.name"
        target="_blank"
        style="display: flex; text-decoration: none"
      >
        <div class="img-box">
          <span>Voice Note</span>
          <audio
            controls
            :src="
              $store.state.backend_url + '/cdn/' + file.id + '/' + file.name
            "
          />
        </div>
      </a>
    </div>
  </div>
</template>
<script>
  export default {
    name: "File",
    props: ["file"],
    computed: {
      isImage() {
        return ["jpg", "png", "jpeg"].includes(
          this.file.name.toLowerCase().split(".")[
            this.file.name.toLowerCase().split(".").length - 1
          ]
        );
      },
      isVoiceNote() {
        return this.file.name === "voicenote.wav";
      },
    },
  };
</script>
<style scoped>
  .file {
    max-width: 100%;
  }
  .upload-img {
    height: 250px;
    max-width: 900px;
    object-fit: contain;
  }
  .file-box {
    border: 1px solid #4c317780;
    background-color: #4c317734;
    border-radius: 2rem;
    max-width: 100%;
    color: black;
    font-weight: bold;
    padding: 10px;
    padding-right: 15px;
    text-decoration: none !important;
  }
  .file-box:hover {
    text-decoration: none !important;
  }

  .img-box {
    border: 1px solid #4c317780;
    background-color: #4c317734;
    border-radius: 2rem;
    color: black;
    max-width: 100%;
    font-weight: bold;
    padding: 10px;
    padding-right: 15px;
    text-decoration: none !important;
    display: flex;
    flex-direction: column;
  }
  .img-box:hover {
    text-decoration: none !important;
  }
  .img-box audio {
    max-width: 100%;
  }
</style>