<template>
  <div class="message">
    <div class="pfp">
      <img :src="message.sender.picture" />
    </div>
    <div class="body">
      <div class="sender">{{message.sender.name}}</div>
      {{ message.content }}
      <file v-if="message.file" :file="message.file" />
    </div>
    <div class="actions" v-if="showActions" @click="$emit('openMessageOptions')">
      <svg style="width:17px;height:20px" viewBox="0 0 24 24">
        <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
      </svg>
    </div>
  </div>
</template>
<script>
  import File from './File';
  export default {
    name: "Message",
    props: ["message", "showActions"],
    components: { File }
  };
</script>
<style scoped>
  .message {
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .message:hover {
    background-color: whitesmoke;
  }
  .message .body {
    flex-grow: 1;
    display: flex;
    padding-left: 6px;
    flex-direction: column;
  }
  .message .body {
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    font-size: 17px;
    line-height: 21px;
    width: 40%;
    overflow-wrap: break-word;
  }
  .message .body .sender {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 14px;
    margin-top: 1px;
    margin-bottom: 3px;
  }
  .message .actions {
    cursor: pointer;
    padding-right: 10px;
    padding-left: 10px;
  }
  .message .pfp img {
    height: 45px;
    width: 45px;
    margin-left: 5px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.18);
  }
</style>