<template>
  <div class="report-list">
    <div v-for="report in reports" :key="report.id" class="report">
      <message :message="report.message" />
      <div class="details">
        <span class="text-muted">
          Reported by
          <span
            class="text-dark"
          >{{ report.reporter ? report.reporter.name : 'Anonymous' }}</span> for
          <span class="text-dark">{{ report.reason }}</span>.
        </span>
        <span class="text-muted" v-if="report.note">NOTE: {{ report.note }}</span>
        <button
          class="btn btn-secondary"
          @click="$router.push({ path: `/class/${report.message.channel.class}/channel/${report.message.channel.id}` })"
        >Go to Message</button>
        <button class="btn btn-warning ml-2">Dealt With</button>
      </div>
    </div>
  </div>
</template>
<script>
  import Message from "../components/Message";

  export default {
    props: ["reports"],
    components: { Message },
  };
</script>
<style scoped>
  .details {
    padding: 10px;
  }
  .report {
    border-bottom: 1px solid rgba(0, 0, 0, 0.452);
    padding-top: 10px;
  }
</style>