<template>
  <div class="sidebar-el">
    <div class="branding" @click="$router.push({ path: '/' })">educhat</div>
    <div class="switcher" v-if="showclasses">
      <img
        referrerpolicy="noreferrer"
        :src="$store.state.profileInfo.profile_pic"
      />
      <div class="name">{{ $store.state.profileInfo.name }}</div>
      <div class="email">{{ $store.state.profileInfo.email }}</div>
      <a href="javascript:null" class="email" @click="logout()">Log out</a>
      <div v-if="$store.state.profileInfo.teacher">
        <button
          class="btn btn-block btn-leadership"
          @click="$router.push({ path: '/admin/' })"
        >
          Leadership Portal
        </button>
      </div>
      <div>
        <button
          class="btn btn-block btn-leadership"
          @click="$router.push({ path: '/usersettings/' })"
        >
          User Settings
        </button>
      </div>
    </div>
    <Classes v-if="showclasses" :data="$store.state.profileInfo.classes" />
  </div>
</template>
<script>
  // @ is an alias to /src
  import VueCookies from "vue-cookies";
  import axios from "axios";
  import Classes from "@/components/Navbar/Classes.vue";
  export default {
    name: "Navbar",
    props: ["showclasses"],
    components: {
      Classes,
    },
    methods: {
      logout() {
        this.$store.dispatch(
          "log",
          `Logged out`
        );
        VueCookies.remove("key");
        this.$store.dispatch("updateKey", undefined);
        this.$router.push({
          path: "/login",
          force: true,
        });
        window.location.reload();
      },
    },
  };
</script>
<style scoped>
  .sidebar-el {
    height: 100%;
    background-color: #fafafa;
    box-shadow: 0px 5.5px 5px rgba(0, 0, 0, 0.24),
      0px 9px 18px rgba(0, 0, 0, 0.18);
  }
  .btn-leadership {
    margin-top: 10px;
    /*background-color: rgba(91, 57, 126, 0.39);*/
    background-color: #492581;
    box-shadow: none;
    color: white;
  }
  .branding {
    height: 70px;
    background-color: #492581;
    color: white;
    padding-left: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 42px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    z-index: 10000;
  }
  .switcher {
    background-color: #222222;
    color: white;
    padding: 24px;
    font-style: normal;
    text-align: center;
    font-weight: normal;
    line-height: 42px;
    align-items: center;
    color: #ffffff;
    box-shadow: inset 0 15px 5px -16px #111, 0px 5.5px 5px rgba(0, 0, 0, 0.24),
      0px 9px 18px rgba(0, 0, 0, 0.18);
  }
  .switcher img {
    width: 72px;
    margin-bottom: 2px;
    height: 72px;
    border-radius: 50%;
  }
  .switcher .email {
    display: block;
    width: 100%;
    color: #5f6368;
    font: 400 14px/19px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    letter-spacing: normal;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    overflow: hidden;
  }
  .switcher .name {
    color: #ffffff;
    width: 100%;
    font: 500 16px/22px Google Sans, Roboto, RobotoDraft, Helvetica, Arial,
      sans-serif;
    letter-spacing: 0.29px;
    margin: 0;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
  }
</style>