<template>
  <div class="jaynav"></div>
</template>
<style scoped>
.jaynav {
  display: none;
  height: 50px;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  /*background-color: #492581 !important;*/
  margin: 0px !important;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.18);
}
</style>