<template>
  <div>
    <div
      class="class"
      @click="go_to_this_class()"
      :class="{'selected': $route.params.class_id === data.id}"
    >
      <svg viewBox="0 0 24 24" class="icon">
        <path
          d="M18,22A2,2 0 0,0 20,20V4C20,2.89 19.1,2 18,2H12V9L9.5,7.5L7,9V2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18Z"
        />
      </svg>
      <span class="class-name">{{ data.name }}</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="plusicon"
        height="24"
        viewBox="0 0 24 24"
        width="24"
        v-if="$store.state.profileInfo.teacher"
        @click="openCreateChannelModal()"
      >
        <path d="M0 0h24v24H0z" fill="none" />
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
    </div>
    <div class="channels" v-if="($route.params.class_id === data.id) && (!data.channels.loading)">
      <div
        v-for="channel in data.channels.channels"
        v-bind:key="channel.id"
        class="channel"
        :class="{'selected': $route.params.channel_id == channel.id}"
        @click="$router.push({path: '/class/' + data.id + '/channel/' + channel.id, force: true })"
      >
        <span class="channel-name">{{ channel.name }}</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24"
          viewBox="0 0 24 24"
          width="24"
          class="lock-icon"
          v-if="channel.type"
        >
          <path d="M0 0h24v24H0z" fill="none" />
          <path
            d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9H8.9V6c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z"
          />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          enable-background="new 0 0 24 24"
          height="24"
          viewBox="0 0 24 24"
          width="24"
          class="settings"
          @click="openEditChannelModal(data.id, channel.id)"
        >
          <g>
            <path d="M0,0h24v24H0V0z" fill="none" />
            <path
              d="M19.14,12.94c0.04-0.3,0.06-0.61,0.06-0.94c0-0.32-0.02-0.64-0.07-0.94l2.03-1.58c0.18-0.14,0.23-0.41,0.12-0.61 l-1.92-3.32c-0.12-0.22-0.37-0.29-0.59-0.22l-2.39,0.96c-0.5-0.38-1.03-0.7-1.62-0.94L14.4,2.81c-0.04-0.24-0.24-0.41-0.48-0.41 h-3.84c-0.24,0-0.43,0.17-0.47,0.41L9.25,5.35C8.66,5.59,8.12,5.92,7.63,6.29L5.24,5.33c-0.22-0.08-0.47,0-0.59,0.22L2.74,8.87 C2.62,9.08,2.66,9.34,2.86,9.48l2.03,1.58C4.84,11.36,4.8,11.69,4.8,12s0.02,0.64,0.07,0.94l-2.03,1.58 c-0.18,0.14-0.23,0.41-0.12,0.61l1.92,3.32c0.12,0.22,0.37,0.29,0.59,0.22l2.39-0.96c0.5,0.38,1.03,0.7,1.62,0.94l0.36,2.54 c0.05,0.24,0.24,0.41,0.48,0.41h3.84c0.24,0,0.44-0.17,0.47-0.41l0.36-2.54c0.59-0.24,1.13-0.56,1.62-0.94l2.39,0.96 c0.22,0.08,0.47,0,0.59-0.22l1.92-3.32c0.12-0.22,0.07-0.47-0.12-0.61L19.14,12.94z M12,15.6c-1.98,0-3.6-1.62-3.6-3.6 s1.62-3.6,3.6-3.6s3.6,1.62,3.6,3.6S13.98,15.6,12,15.6z"
            />
          </g>
        </svg>
      </div>
    </div>
    <hr v-if="needs_seperator" />
  </div>
</template>
<style scoped>
  .plusicon {
    height: 24px;
    min-width: 24px;
    opacity: 0.54;
  }
  hr {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
  .class {
    position: relative;
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    font-size: 16px;
    vertical-align: top !important;
    cursor: pointer;

    display: flex;
    align-items: center;
  }
  .class.selected {
    background: rgba(73, 37, 129, 0.39);
  }
  .class:hover {
    background: rgba(73, 37, 129, 0.1);
  }
  .class.selected:hover {
    background: rgba(73, 37, 129, 0.48);
  }
  .icon {
    height: 24px;
    min-width: 24px;
    opacity: 0.54;
    margin-right: 4px;
  }
  .class-name {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    line-break: normal;
    display: block;
    overflow-x: hidden;

    flex-grow: 1;
  }
  .channel {
    margin-left: 44px;
    margin-top: 5px;

    width: calc(100% - 44px);
    border-radius: 4px;
    font-size: 16px;
    vertical-align: top !important;

    display: flex;
    align-items: center;

    cursor: pointer;
    background: rgba(73, 37, 129, 0.05);
  }
  .channel:not(.selected):hover {
    background: rgba(73, 37, 129, 0.1);
  }
  .channel.selected {
    background: rgba(73, 37, 129, 0.2);
  }
  .channel-name {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;

    flex-grow: 1;
    margin: 5px;
    padding-left: 5px;
  }
  .lock-icon {
    height: 20px;
    min-width: 20px;
    opacity: 0.54;
  }
  .settings {
    height: 20px;
    min-width: 20px;
    opacity: 0.54;
    margin-right: 5px;
  }
</style>
<script>
  // @ is an alias to /src
  export default {
    name: "Class",
    props: ["data", "needs_seperator"],
    components: {},
    created() {},
    data() {
      return {};
    },
    methods: {
      go_to_this_class() {
        this.$router.push({
          path: "/class/" + this.data.id,
          force: true,
        });
      },
      async openCreateChannelModal() {
        this.$emit("createChannel", this.data.id);
      },
      async openEditChannelModal(class_id, channel_id) {
        this.$emit("editChannel", { class_id, channel_id });
      },
    },
  };
</script>