<template>
  <div class="classes">
    <Class
      v-for="(class_data, index) in data.filter(c => c.courseState === 'ACTIVE')"
      :data="class_data"
      :needs_seperator="data.filter(c => c.courseState === 'ACTIVE').length > 1 && index !== (data.filter(c => c.courseState === 'ACTIVE').length - 1)"
      v-bind:key="class_data.id"
      @createChannel="openCreateChannel"
      @editChannel="openEditChannel"
    />

    <edit-channel
      :show="editChannelShow"
      :class_id="editChannelClassId"
      :channel_id="editChannelId"
      @hide="editChannelShow = false"
    />
  </div>
</template>
<style scoped>
  .classes {
    height: calc(100vh - 400px);
    overflow-y: auto;
    padding: 17px;
  }

  @media screen and (max-width: 500px) {
    .classes {
      height: calc(30vh);
    }
  }

</style>
<script>
  // @ is an alias to /src
  import Class from "@/components/Navbar/Class.vue";
  import EditChannel from "../../components/Modals/EditChannel.vue";
  export default {
    name: "Classes",
    props: ["data"],
    components: {
      Class,
      EditChannel
    },
    created() {},
    methods: {
      async openCreateChannel(id) {
        const channel_id = await this.$store.dispatch("createChannel", { class_id: id, name: "New Channel", locked: 1 });

        await this.openEditChannel({
          class_id: id,
          channel_id
        })
      },
      async openEditChannel(args) {
        this.editChannelClassId = args.class_id;
        this.editChannelId = args.channel_id;
        this.editChannelShow = true;
      },
    },
    data() {
      return {
        editChannelShow: false,
        editChannelId: null,
        editChannelClassId: null
      };
    },
  };
</script>