<template>
  <div id="app">
    <div class="fullheight" :class="{'dyslexia-mode': $store.state.profileInfo.dyslexiaMode === 'green'}">
      <div class="container-fluid">
        <div class="row main-row loading-row" v-if="($store.getters.globalLoading && $route.path !== '/login')">
          <LoadingIcon />
        </div>
        <div class="row main-row" v-if="!($store.getters.globalLoading && $route.path !== '/login')">
          <div class="col-2 sidebar">
            <Sidebar :showclasses="($route.path !== '/login')" />
          </div>
          <div class="col-10">
            <TopNav />
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <router-view />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
#app {
  font-family: "Roboto", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  font-style: normal;
  font-weight: 500;
  overflow-y: hidden;
}

.dyslexia-mode *:not(.sidebar):not(.sidebar-el):not(.branding) {
  color: black !important;
  background-color: rgb(111, 224, 111) !important;
}
.dyslexia-mode .switcher, .dyslexia-mode .classes {
  border-right: 2px solid black !important;
}

.dyslexia-mode .header, .dyslexia-mode .messages, .dyslexia-mode .input-group, .dyslexia-mode .btn-leadership {
  border: 2px solid black !important;
}
.dyslexia-mode .input-group {
  border-top: none;
}
.dyslexia-mode .class, .dyslexia-mode .channel {
  border: 1px solid #3030309a;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
.loading-row {
  padding-top: 20vh;
  padding-left: calc(50vw - 40px);
}
.fullheight {
  height: 100%;
}
.container-fluid {
  height: 100%;
}
.main-row {
  height: 100% !important;
}
.col-2 {
  padding: 0px !important;
  width: 270px !important;
  max-width: 270px;
  flex: unset !important;
}
.col-10 {
  height: 100%;
  overflow-y: scroll;
  margin: 0px !important;
  padding: 0px !important;
  flex: unset !important;
  width: calc(100% - 270px) !important;
  max-width: calc(100% - 270px) !important;
}

@media screen and (max-width: 500px) {
  .col-2 {
    max-width: 100%;
    width: 100% !important;
  }
  .col-10 {
    width: calc(100%) !important;
    max-width: calc(100%) !important;
  }

  #app {
    overflow-y: auto;
  }

  .container-fluid {
    height: unset;
  }
}

</style>
<script>
// @ is an alias to /src
import Sidebar from "@/components/Sidebar.vue";
import TopNav from "@/components/TopNav.vue";
import LoadingIcon from "@/components/LoadingIcon.vue";
export default {
  name: "App",
  components: {
    Sidebar,
    TopNav,
    LoadingIcon
  },
  data() {
    return {
      layout: "div",
      loading: true
    };
  },
};
</script>
