<template>
  <div v-if="show">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit Channel</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
                @click="$emit('hide')"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" v-if="!loading">
              Channel Name:
              <input type="text" class="form-control" v-model="channel.name" />
              <br />
              Channel Type:
              <select class="form-control" v-model="channel.type">
                <option value="0">Teachers And Students</option>
                <option value="1">Teacher only</option>
              </select>
              <br />
              <button type="button" class="btn btn-danger" @click="sendDelete">
                Delete
              </button>
            </div>
            <div class="modal-body" v-if="loading">
              <div style="margin: 20px auto; text-align: center">
                <loading-icon />
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-purple" @click="save">
                Save
              </button>
              <button
                type="button"
                class="btn btn-secondary"
                @click="$emit('hide')"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import LoadingIcon from "../LoadingIcon";
  export default {
    name: "EditChannel",
    props: ["show", "class_id", "channel_id"],
    components: { LoadingIcon },
    data() {
      return {
        channel: {},
        loading: false,
      };
    },
    mounted() {},
    methods: {
      async reload() {
        this.loading = true;
        if (!this.channel_id) return;

        await this.$store.dispatch("updateChannels", this.class_id);
        this.channel = {
          ...this.$store.getters.getChannelById(this.class_id, this.channel_id),
        };

        this.loading = false;
      },
      async sendDelete() {
        this.loading = true;

        this.$store.dispatch(
          "log",
          `Deleted channel ${this.channel.name} from class ${this.class_id}`
        );

        await this.$store.dispatch("deleteChannel", {
          class_id: this.class_id,
          channel: this.channel,
        });
        await this.$store.dispatch("updateChannels", this.class_id);

        this.channel = {};
        this.$emit("hide");
        this.loading = false;

        this.$router.push({ name: "class", params: { id: this.class_id } });
      },
      async save() {
        this.loading = true;

        this.$store.dispatch(
          "log",
          `Edited channel ${this.channel.name} in class ${this.class_id}`
        );

        await this.$store.dispatch("saveChannel", {
          class_id: this.class_id,
          channel: this.channel,
        });
        
        this.$root.$emit('please_reload_channel', { channel_id: this.channel_id });

        this.channel = {};
        this.$emit("hide");
        this.loading = false;
      },
    },
    watch: {
      channel_id(val) {
        this.reload();
      },
      show(val) {
        this.reload();
      },
    },
  };
</script>
<style scoped>
  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
  }

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .btn-purple {
    background-color: #492581;
    color: white;
  }
  .btn-purple:hover {
    background-color: #4c3177;
  }
</style>