<template>
  <div v-if="show">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Upload File?</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
                @click="$emit('hide')"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" v-if="!loading">
              Are you sure you want to upload <b>{{ file.name }}</b>? Everybody in this channel will be able to see it.
            </div>
            <div class="modal-body" v-if="loading">
              <div style="margin: 20px auto; text-align: center;">
                <loading-icon />
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-purple" @click="uploadFile">Upload</button>
              <button type="button" class="btn btn-secondary" @click="$emit('hide')">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import LoadingIcon from '../LoadingIcon';
  export default {
    name: "FileConfirmation",
    props: ["show", "file", "class_id", "channel_id"],
    components: {LoadingIcon},
    data() {
      return {
        loading: false
      };
    },
    mounted() {
      this.loading = false;
    },
    methods: {
      async uploadFile() {
        this.loading = true;
        const file_obj = await this.$store.dispatch("uploadFile", this.file);
        await this.$store.dispatch("sendFileMessage", { class_id: this.class_id, channel_id: this.channel_id, file_id: file_obj.data.file.id });
        this.$emit("hide");
        this.loading = false;
      }
    },
    watch: {
      show(val) {
        this.loading = false;
      }
    }
  };
</script>
<style scoped>
  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
  }

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .btn-purple {
    background-color: #492581;
    color: white;
  }
  .btn-purple:hover {
    background-color: #4c3177;
  }
</style>