<template>
  <div v-if="show">
    <div class="modal-mask" v-if="!showReportMessage">
      <div class="modal-wrapper">
        <div class="modal-dialog" role="document" v-if="!showReportMessage">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Message Options</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
                @click="$emit('hide')"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <message :message="message" :show-actions="false" />
              <hr />
              <h4>Options</h4>
              <button
                type="button"
                class="btn btn-warning mr-2"
                @click="showReportMessage = true"
              >Report</button>
              <button class="btn btn-secondary">Edit</button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" @click="$emit('hide')">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <report-message :show="showReportMessage" :message="message" @hide="showReportMessage = false" @hideDouble="hideDouble()" />
  </div>
</template>
<script>
  import Message from "../Message";
  import ReportMessage from "./ReportMessage";

  export default {
    name: "MessageOptions",
    props: ["show", "message"],
    components: {
      Message,
      ReportMessage
    },
    data() {
      return {
        showReportMessage: false
      };
    },
    methods: {
      hideDouble() {
        this.showReportMessage = false; 
        this.$emit('hide');
      }
    }
  };
</script>
<style scoped>
  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
  }

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .message {
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .message:hover {
    background-color: whitesmoke;
  }
  .message .body {
    flex-grow: 1;
    display: flex;
    padding-left: 6px;
    flex-direction: column;
  }
  .message .body {
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    font-size: 17px;
    line-height: 21px;
  }
  .message .body .sender {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 14px;
    margin-top: 1px;
    margin-bottom: 3px;
  }
  .message .actions {
    cursor: pointer;
    padding-right: 10px;
    padding-left: 10px;
  }
  .message .pfp img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.18);
  }
  .messages {
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: #fafafa;
    margin-top: 20px;
    height: 65vh;
    box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.18);
    width: 100%;
    display: flex;
    padding: 4px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: 1px solid #ced4da;
    border-bottom: 0px;
    overflow-y: auto;
  }
</style>