<template>
  <div v-if="show">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Voice Note</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
                @click="$emit('hide')"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" v-if="!loading">
              Just press the record button, then allow microphone access, to begin recording. Hit Stop once you're done and you can play back the note before choosing whether to upload it or cancel.
              <br />
              <br />
              <button
                class="btn btn-purple mr-2"
                id="recordButton"
                @click="startRecording"
                :disabled="isRecording"
              >Record</button>
              <button
                class="btn btn-purple mr-2"
                id="pauseButton"
                @click="pauseRecording"
                :disabled="!isRecording"
              >{{ isPaused ? 'Resume' : 'Pause' }}</button>
              <button
                class="btn btn-purple mr-2"
                id="stopButton"
                @click="stopRecording"
                :disabled="!isRecording"
              >Stop</button>
              <div v-if="this.recordingB64">
                <br />
                <br />
                <h4>Preview</h4>
                <audio controls :src="recordingB64" />
              </div>
            </div>
            <div class="modal-body" v-if="loading">
              <div style="margin: 20px auto; text-align: center;">
                <loading-icon />
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-purple" @click="uploadFile">Upload</button>
              <button type="button" class="btn btn-secondary" @click="$emit('hide')">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  // Adapted from https://blog.addpipe.com/using-recorder-js-to-capture-wav-audio-in-your-html5-web-site/
  import LoadingIcon from "../LoadingIcon";
  export default {
    name: "RecordAudio",
    props: ["show", "class_id", "channel_id"],
    components: { LoadingIcon },
    data() {
      return {
        loading: false,
        rec: null,
        isRecording: false,
        isPaused: false,
        input: null,
        gumStream: null,
        audioContext: null,
        recordingBlob: null,
        recordingB64: null
      };
    },
    mounted() {
      this.loading = false;
      this.recordingBlob = null;
      this.recordingB64 = null;
      var AudioContext = window.AudioContext || window.webkitAudioContext;
      this.audioContext = new AudioContext();
    },
    methods: {
      async uploadFile() {
        this.$store.dispatch(
          "log",
          `Uploaded audio`
        );
        this.loading = true;
        const file_obj = await this.$store.dispatch(
          "uploadVoiceNote",
          this.recordingBlob
        );
        await this.$store.dispatch("sendFileMessage", {
          class_id: this.class_id,
          channel_id: this.channel_id,
          file_id: file_obj.data.file.id
        });
        this.$emit("hide");
        this.loading = false;
      },
      async startRecording() {
        this.$store.dispatch(
          "log",
          `Started recording audio`
        );
        this.isRecording = true;
        const stream = await navigator.mediaDevices.getUserMedia({
          audio: true,
          video: false
        });
        this.gumStream = stream;
        this.input = this.audioContext.createMediaStreamSource(stream);
        this.rec = new Recorder(this.input, { numChannels: 1 });
        this.rec.record();
        this.isRecording = true;
      },
      async pauseRecording() {
        this.$store.dispatch(
          "log",
          `Paused recording audio`
        );
        if (this.rec.recording) {
          this.rec.stop();
          this.isPaused = true;
        } else {
          this.rec.record();
          this.isPaused = false;
        }
      },
      async stopRecording() {
        this.$store.dispatch(
          "log",
          `Stopped recording audio`
        );
        this.isRecording = false;
        this.isPaused = false;
        this.rec.stop();
        this.gumStream.getAudioTracks()[0].stop();
        this.rec.exportWAV(b => {
          this.recordingBlob = b;
          var reader = new FileReader();
          reader.onload = () => {
            this.recordingB64 = reader.result;
          };
          reader.readAsDataURL(this.recordingBlob);
        });
      }
    },
    watch: {
      show(val) {
        this.loading = false;
        this.recordingBlob = null;
        this.recordingB64 = null;
      }
    }
  };
</script>
<style scoped>
  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
  }

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .btn-purple {
    background-color: #492581;
    color: white;
  }
  .btn-purple:hover {
    background-color: #4c3177;
  }
</style>