<template>
  <div v-if="show">
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Report Message</h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                  @click="$emit('hide')"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="reasons">
                  <div
                    class="reason"
                    v-for="reason in reportReasons"
                    :key="reason"
                    :class="{ active: reason === selectedReason }"
                    @click="selectedReason = reason"
                  >{{ reason }}</div>
                </div>
                <div
                  class="text-muted"
                >Your report will be kept private and confidential, and only shared with the safeguarding and leadership team</div>
                <br />
                <textarea class="form-control" rows="3" v-model="notes"></textarea>
                <div class="text-muted">Notes</div>
                <br />
                <div class="form-check">
                  <input class="form-check-input" id="includeMyName" type="checkbox" v-model="includeName" />
                  <label class="form-check-label" for="includeMyName">Include my name in the report</label>
                </div>
                <small class="text-muted">If you don’t choose to include your name then the safeguarding team will not be able to communicate with you further about this</small>
                <br>
                <br>
                <small class="text-muted text-purple">Abuse of the report system will result in your ability to make reports being removed.</small>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-warning" @click="sendReport()">Report</button>
                <button type="button" class="btn btn-secondary" @click="$emit('hide')">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>
<script>
  import Message from "../Message";

  export default {
    name: "ReportMessage",
    props: ["show", "message"],
    components: {
      Message
    },
    methods: {
      async sendReport() {
        await this.$store.dispatch("sendReport", {
          reason: this.selectedReason,
          notes: this.notes,
          includeName: this.includeName,
          message: this.message.id
        });
        this.$emit("hideDouble");
      }
    },
    data() {
      return {
        reportReasons: [
          "Harassment / Bullying",
          "Suicide / Self Harm",
          "Inappropriate Content",
          "Hate Speech",
          "Spam / Advertising",
          "Other"
        ],
        selectedReason: "Other",
        includeName: true,
        notes: ""
      };
    }
  };
</script>
<style scoped>
  .reasons {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
    margin-bottom: 10px;
  }
  .reason {
    flex-basis: calc(50% - 10px);
    background-color: rgb(221, 221, 221);
    border-radius: 1rem;
    text-align: center;
    margin: 5px;
    cursor: pointer;
  }
  .reason.active {
    background-color: #6002ee65;
  }
  .modal-mask {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
  }
  .text-purple {
    color: #6002ee8a !important;
  }
  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
</style>