<template>
  <div v-if="show">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Guide</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
                @click="$emit('hide')"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" v-if="!loading">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/QbDIC222yjU"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <div class="modal-body" v-if="loading">
              <div style="margin: 20px auto; text-align: center">
                <loading-icon />
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                @click="$emit('hide')"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import LoadingIcon from "../LoadingIcon";
  export default {
    name: "Video",
    props: ["show"],
    components: { LoadingIcon },
    data() {
      return {
        channel: {},
        loading: false,
      };
    },
    mounted() {},
    methods: {

    },
    watch: {

    },
  };
</script>
<style scoped>
  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
  }

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .btn-purple {
    background-color: #492581;
    color: white;
  }
  .btn-purple:hover {
    background-color: #4c3177;
  }
</style>