<template>
  <div class="adminIndex">
    <ul class="nav nav-tabs mt-2">
      <li class="nav-item">
        <a class="nav-link" :class="{active: tab==='dashboard'}" @click="tab='dashboard'" href="javascript:null">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" :class="{active: tab==='log'}" @click="tab='log'" href="javascript:null">Audit Log</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" :class="{active: tab==='export'}" @click="tab='export'" href="javascript:null">Export</a>
      </li>
    </ul>
    <div class="row mt-3" v-if="tab === 'dashboard'">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-header">Reports</div>
          <div class="card-body" style="padding: 0;">
            <div class="text-center" v-if="!report_loaded">
              <loading-icon />
            </div>
            <div class="report-list" v-if="report_loaded">
              <report-list :reports="reports" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3" v-if="tab === 'log'">
      <div class="col-12">
        <h3>Audit Log</h3>
        <table class="table">
          <tr>
            <th>Time</th>
            <th>User</th>
            <th>Log</th>
          </tr>
          <tr v-for="log in auditlog" :key="log.time">
            <td>{{ log.time }}</td>
            <td>{{ log.user.email }}</td>
            <td>{{ log.message }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>
<script>
  import LoadingIcon from "../components/LoadingIcon";
  import ReportList from "../components/ReportList";
  import axios from "axios";

  export default {
    name: "Admin",
    components: { LoadingIcon, ReportList },
    data() {
      return {
        reports: [],
        report_loaded: false,
        tab: 'dashboard',
        auditlog: []
      };
    },
    mounted() {
      this.loadReports();
      this.updateAuditLog();
    },
    methods: {
      async loadReports() {
        let res = await axios.get(`${this.$store.state.backend_url}/api/${this.$store.state.key}/admin/reports`);
        this.reports = res.data;
        this.report_loaded = true;
      },
      async updateAuditLog() {
        this.auditlog = (await this.$store.dispatch("getlog")).reverse();
      }
    },
  };
</script>