<template>
  <div class="channel-view">
    <div class="header">
      <h1 v-if="!loaded" style="color: transparent">Loading...</h1>
      <div class="description" style="color: transparent" v-if="!loaded">
        Loading...
      </div>
      <h1 v-if="loaded">{{ current_class.name }}</h1>
      <div v-if="loaded" class="description">
        {{ current_class.descriptionHeading }} - {{ this.current_channel.name }}
        <br />
        <select class="notification-select" v-model="current_channel.notifications" @change="update_notifications()">
          <option value="off">Notifications Off</option>
          <option value="mention">Notifications Only when Mentioned</option>
          <option value="on">Notifications On</option>
        </select>
      </div>
    </div>
    <div
      class="messages"
      v-chat-scroll="{
        always: false,
        smooth: false,
        notSmoothOnInit: true,
        scrollonremoved: true,
      }"
      ref="messageBox"
    >
      <ul
        v-if="loaded && !current_channel.messages.loading"
        class="message-list"
      >
        <li
          v-for="message in current_channel.messages.messages"
          :key="message.id"
        >
          <message
            :message="message"
            :show-actions="true"
            @openMessageOptions="messageOptions(message)"
          />
        </li>
      </ul>
    </div>

    <message-options
      :show="showMessageModal"
      :message="messageModal"
      @hide="showMessageModal = false"
    />
    <file-confirmation
      :show="showFileConfirmation"
      :file="fileConfirmation"
      :class_id="$route.params.class_id"
      :channel_id="$route.params.channel_id"
      @hide="showFileConfirmation = false"
    />

    <record-audio
      :show="showRecordAudio"
      :class_id="$route.params.class_id"
      :channel_id="$route.params.channel_id"
      @hide="showRecordAudio = false"
    />

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label
          class="btn btn-purple file-upload btn-top-left-square"
          style="margin-right: 2px"
        >
          <input type="file" @change="uploadImage($event)" id="file-input" />
          <span>Upload</span>
        </label>
        <button class="btn btn-purple" @click="showRecordAudio = true">
          Voice Note
        </button>
      </div>
      <input
        type="text"
        class="form-control"
        v-model="current_msg_input"
        @keyup="handle_keypress"
        placeholder="Message"
      />
      <div class="input-group-append">
        <button
          class="btn btn-purple btn-top-right-square"
          type="button"
          @click="send_current_msg()"
        >
          Send
        </button>
      </div>
    </div>
  </div>
</template>
<style scoped>
  .notification-select {
    font-size: small;
    margin-top: 10px;
  }
  .messages {
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: #fafafa;
    margin-top: 20px;
    height: 65vh;
    box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.18);
    width: 100%;
    display: flex;
    padding: 4px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: 1px solid #ced4da;
    border-bottom: 0px;
    overflow-y: auto;
  }
  .message-list {
    padding-left: 0px;
    margin-bottom: 0px;
    width: 100%;
  }
  .message-list li {
    list-style: none;
  }
  .btn-purple {
    background-color: #492581;
    color: white;
  }
  .btn-top-right-square {
    border-top-right-radius: 0px;
  }
  .btn-top-left-square {
    border-top-left-radius: 0px;
  }
  .btn-purple:hover {
    background-color: #4c3177;
  }
  .form-control {
    border-top-left-radius: 0px;
  }
  .form-control:focus {
    box-shadow: none;
    border-color: #492581;
  }
  .header {
    background-color: #492581;
    border-radius: 4px;
    padding: 25px;
    margin-top: 10px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 49px;
    line-height: 24px;
  }
  .header > h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    font-size: 36px;
    line-height: 24px;
  }
  .header > h1 > h3 {
    display: inline-block;
  }
  .header .description {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 24px;
  }
  label.file-upload input[type="file"] {
    position: absolute;
    top: -1000px;
  }
  label.file-upload {
    margin: 0px;
  }
</style>
<script>
  // @ is an alias to /src
  import MessageOptions from "../components/Modals/MessageOptions";
  import FileConfirmation from "../components/Modals/FileConfirmation";
  import RecordAudio from "../components/Modals/RecordAudio";
  import Message from "../components/Message";
  import axios from "axios";

  export default {
    name: "Channel",
    components: {
      MessageOptions,
      Message,
      FileConfirmation,
      RecordAudio,
    },
    mounted() {
      this.update_datastore();
      this.load_data();
      this.intervalId = setInterval(() => {
        this.update_messages();
      }, 400);

      this.$root.$on("please_reload_channel", (data) => {
        if (data.channel_id == this.$route.params.channel_id) {
          this.load_data();
        }
      });

      var container = this.$refs.messageBox;
      container.scrollTop = 90000;
    },
    beforeDestroy() {
      clearInterval(this.intervalId);
    },
    data() {
      return {
        loaded: false,
        current_class: null,
        current_channel: null,
        current_msg_input: "",
        intervalId: null,
        showMessageModal: false,
        messageModal: null,
        showFileConfirmation: false,
        fileConfirmation: null,
        showRecordAudio: false,
        dropupVisible: false,
      };
    },
    methods: {
      handle_keypress(e) {
        if (e.key === "Enter") {
          this.send_current_msg();
        }
      },
      messageOptions(message) {
        this.messageModal = message;
        this.showMessageModal = true;
      },
      async send_current_msg() {
        // Send the API call to send a message, with the current contents of the message input
        await this.$store.dispatch("sendMessage", {
          class_id: this.$route.params.class_id,
          channel_id: this.$route.params.channel_id,
          content: this.current_msg_input,
        });
        // Audit log
        this.$store.dispatch(
          "log",
          `Sent message to channel ${this.$route.params.channel_id} - ${this.current_msg_input}`
        );
        // Fetch the latest messages from the server, so that ours show up.
        await this.update_messages();
        // Clear the input box
        this.current_msg_input = "";
      },
      async update_messages() {
        // Fetch the latest messages from the server

        var oldMessages = 0;
        if (this.current_channel.messages.messages) {
          oldMessages = this.current_channel.messages.messages.length;
        }
        await this.$store.dispatch("updateMessages", {
          class_id: this.$route.params.class_id,
          channel_id: this.$route.params.channel_id,
        });

        // If we now have more messages than before, scroll to bottom
        if (
          this.current_channel.messages.messages &&
          this.current_channel.messages.messages.length > oldMessages
        ) {
          var container = this.$refs.messageBox;
          container.scrollTop = container.scrollHeight;
        }
      },
      async update_datastore() {
        // Make the API call to get the channels of this class
        await this.$store.dispatch("updateChannels", this.$route.params.class_id);
      },
      async update_page_from_datastore() {
        // Get the current class object of the page we're on
        this.current_class = this.$store.getters.getClassById(
          this.$route.params.class_id
        );

        if (!this.current_class.channels.loaded) {
          await this.$store.dispatch(
            "updateChannels",
            this.$route.params.class_id
          );
        }

        // Get the channel object (which we know is loaded because we have made the API call)
        this.current_channel = this.$store.getters.getChannelById(
          this.$route.params.class_id,
          this.$route.params.channel_id
        );

        var container = this.$refs.messageBox;
        container.scrollTop = container.scrollHeight;
      },
      async load_data() {
        // If we have a cached copy, load in the cached copy and update in background
        // If we don't have a cached copy, then show a loading icon and update in foreground

        // Get the current class object of the page we're on
        await this.update_page_from_datastore();

        if (!this.current_class) this.loaded = false;
        else this.loaded = true;

        // Load the messages
        this.update_messages();

        await this.update_datastore();
        await this.update_page_from_datastore();

        // Stop showing loading icon
        this.loaded = true;
      },
      async uploadImage(event) {
        this.$store.dispatch(
          "log",
          `Uploaded file to channel ${this.$route.params.channel_id}`
        );

        this.showFileConfirmation = true;
        this.fileConfirmation = event.target.files[0];
      },
      async update_notifications() {
        await this.$store.dispatch(
          "log",
          `Changed notifications for channel ${this.$route.params.channel_id} to ${this.current_channel.notifications}`
        );

        await this.$store.dispatch(
          "changeNotifications",
          {
            class_id: this.$route.params.class_id,
            channel_id: this.$route.params.channel_id,
            notifications: this.current_channel.notifications
          }
        );
      }
    },
    watch: {
      $route(to, from) {
        this.load_data();
      },
    },
  };
</script>
