<template>
  <div class="channel-view">
    <div class="header">
      <h1>{{ current_class.name }}</h1>
      <div class="description">{{ current_class.descriptionHeading }}</div>
    </div>
    <div class="messages">
      <div class="left">
        Choose a channel on the left.
      </div>
    </div>
  </div>
</template>
<style scoped>
.class-pic {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin: 5px;
}
.loading-row {
  padding-top: 90px;
  padding-left: calc(50% - 40px);
}
.messages {
  border-radius: 4px;
  background: #ffffff;
  margin-top: 20px;
  padding: 10px;
  box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.18);
  width: 100%;
}
.header {
  background-color: #492581;
  padding: 25px;
  color: white;
  border-radius: 4px;
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 49px;
  line-height: 24px;
}
.header > h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  font-size: 36px;
  line-height: 24px;
}
.header > h1 > h3 {
  display: inline-block;
}
.header .description {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 24px;
}
</style>
<script>
// @ is an alias to /src
import LoadingIcon from "@/components/LoadingIcon.vue";

export default {
  name: "Class",
  components: {
    LoadingIcon
  },
  created() {
    this.$store.dispatch(
      "updateChannels",
      this.$router.currentRoute.params.class_id
    );
  },
  data() {
    return {
      current_class: this.$store.getters.getClassById(
        this.$router.currentRoute.params.class_id
      )
    };
  },
  watch: {
    $route(to, from) {
      this.$store.dispatch(
        "updateChannels",
        this.$router.currentRoute.params.class_id
      );
      this.current_class = this.$store.getters.getClassById(
        this.$router.currentRoute.params.class_id
      );
    }
  }
};
</script>
