<template>
  <div class="home">
    <br>
    <h1>Welcome to eduChat</h1>
    <p>To get started, simply choose a class on the left</p>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'home',
  components: {
  },
  created() {
  },
}
</script>
