<template>
  <div class="about">
    <div class="card text-center">
      <div class="card-header">Video Guide - Please watch</div>
      <div class="card-body">
        <iframe
          width="100%"
          height="400"
          src="https://www.youtube.com/embed/QbDIC222yjU"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="card text-center mt-4">
      <div class="card-header">Please log in</div>
      <div class="card-body">
        <p class="card-text">
          You will need to log in using your Google Classroom details.
        </p>
        <a :href="$store.state.backend_url + '/api/login'"
          ><img class="google_signin" src="/sign_in.png"
        /></a>
      </div>
    </div>
    <div class="card text-center mt-4">
      <div class="card-header">TEST SIGN IN</div>
      <div class="card-body">
        <a :href="$store.state.backend_url + '/api/login/test-login/student'"
          >Test Student</a
        ><br />
        <a :href="$store.state.backend_url + '/api/login/test-login/teacher'"
          >Test Teacher</a
        >
      </div>
    </div>
  </div>
</template>
<script>
  // @ is an alias to /src

  export default {
    name: "login",
    components: {},
    created() {},
  };
</script>
<style scoped>
  .about {
    margin-top: 40px;
  }
  .card {
    width: 50%;
    margin: 0 auto;
  }
  .google_signin {
    width: 200px;
  }
</style>
