<template>
  <div>
    <br />
    <h2>Accessibility</h2>
    <br />
    <select id="dyslexia" v-model="dyslexiaMode">
      <option value="none">None</option>
      <option value="green">Green</option>
    </select>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        dyslexiaMode: this.$store.state.profileInfo.dyslexiaMode,
      };
    },
    mounted() {},
    watch: {
      dyslexiaMode() {
        this.$store.dispatch(
          "log",
          `Changed dyslexia mode to ${this.dyslexiaMode}`
        );
        this.$store.dispatch("saveProfile", {
          dyslexiaMode: this.dyslexiaMode,
        });
      },
    },
  };
</script>